<div class="fond">
  <div class="container pt-3">
    <div class="position-relative">
      <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1433863448220-78aaa064ff47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2531&q=80">
        <h1 class="cool"><%= @list.name %></h1>
      </div>
    </div>

    <div class="row my-2">
        <% @list.movies.each do |movie| %>
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
            <div class="bg-white rounded shadow h-100">
              <%= image_tag movie.poster_url, class: "movie-img rounded-top" %>
              <div class="p-3 rounded-bottom d-flex flex-column">
                <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
                <small class="text-muted"><%= movie.overview %></small>
                <div class="d-flex align-items-end justify-content-between pt-4">
                  <div>
                    <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <div class="container mb-5">
      <div class="d-flex justify-content-around my-4">
        <%= link_to "Back to lists", lists_path, class: "btn btn-ghost" %><%= link_to "Supprimer", list_path(@list), class: "btn btn-ghost", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%><%= link_to "Add bookmark", new_list_bookmark_path(@list), class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>
